<%- include ('./partials/header.ejs') %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-portfolio-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="projectname" id="projectname" placeholder="Name of Project" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="projectdate" id="projectdate" placeholder="Date" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="projectpurpose" id="projectpurpose" placeholder="Purpose of Project" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="projectdescription" id="projectdescription" placeholder="Description of Project" required>
                </div>
              
            <button type="submit" class="btn btn-primary float-right">Add Portfolio Item</button>
        </form>
    </div>
</div>
</body>
</html>
